.container {
    display: flex;
    justify-content: space-between; /* Distribute elements along the horizontal axis */
    align-items: center; /* Center elements vertically */
  }
  
  .fullWidth {
    flex: 1; /* Make the first element take full width */
  }
  
  
  
  .fullWidthWithPadding {
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
  }
  
  .centered {
    text-align: center;
  }