.center {
  position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

/* Style.module.css */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  gap: 20px; /* Adjust the gap as needed */
  justify-items: center;
  align-items: center;
  height: auto; /* Optional: Set a specific height for the container */
}

.gridItem {
  /* Optional: Add styles to individual grid items if needed */
}

.doubleWidth {
  grid-column: span 2; /* Make the item span two columns */
}




.gridContainerAdd {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */

  gap: 10px; /* Adjust the gap as needed */
  align-items: center;

  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* Optional: Set a specific height for the container */
}

.navBar {
  /* Styles for the NavBar, e.g., background color, padding, etc. */
}

.centerContent {
  /* Optional: Add styles to center content if needed */
}